@width-one-column-max: 439px;
@width-two-column-min: 440px;

@width-label-left-min: 800px;

body {
	font-size: 13px;
}

p {
	line-height: 18px;
}

h1, h1.action-title {
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

ol {
	margin-left: 0;
	list-style-type: none;

	li {
		counter-increment: step-counter;
		margin: 18px 0;
		padding: 0 0 0 50px;
		position: relative;
		line-height: 25px;
		font-size: 17px;

		&::before {
			content: counter(step-counter);
			background: var(--button-color);
			color: white;
			position: absolute;
			top: 50%;
			left: 0;
			font-size: 30px;
			text-indent: -1px;
			margin-top: -18px;

			border-radius: 18px;
			display: inline-block;
			width: 36px;
			height: 36px;
			line-height: 36px;
			text-align: center;
		}
	}
}

ol, ul {
	ol {
		margin-left: 1.5em;
		list-style-type: decimal;

		li {
			counter-increment: none;
			padding-left: 0;
			margin: 0;

			&::before {
				display: none;
			}
		}
	}
}

ul {
	margin-left: 0;
	list-style-type: none;

	li {
		margin: 15px 0;
		padding: 0 0 0 50px;
		position: relative;
		line-height: 25px;
		font-size: 17px;

		&::before {
			content: ' ';
			background: var(--button-color);
			position: absolute;
			top: 50%;
			left: 5px;
			font-size: 30px;
			text-indent: -1px;
			margin-top: -13px;

			border-radius: 13px;
			display: inline-block;
			width: 26px;
			height: 26px;
			line-height: 26px;
			text-align: center;
		}
	}
}

ul, ol {
	ul {
		margin-left: 1.5em;
		list-style-type: disc;

		li {
			padding-left: 0;
			margin: 0;

			&::before {
				display: none;
			}
		}
	}
}

.count {
	margin-bottom: 20px;

	.count-text {
		font-size: 18px;
		font-weight: bold;
		height: 20px;
		line-height: 20px;
		margin: 0 0 5px 0;
	}

	.count-text-top {
		display: block;
	}

	.count-text-bottom {
		display: none;
	}

	&:first-child {
		margin-top: 0;
	}
}

.readmore {
	text-decoration: none;
	color: var(--button-color);
	font-weight: bold;
	font-size: 13px;

	&::before {
		content: "\00BB";
		margin-right: 5px;
		font-size: 1.2em
	}
}

@media (max-width: @width-one-column-max) {
	.readmore {
		display: none;
	}

	.sign .readmore-btn  {
		display: block;
		margin-bottom: 10px;
		padding: 3px 8px;
		text-align: center;
	}
}

.header {
	display: block;
	background: var(--background-color-box);

	h1 {
		font-size: 30px;
		line-height: 34px;
	}
}

label {
	font-size: 13px;
	text-transform: none;
	padding: 7px 0 5px 0;
	font-weight: bold;
	line-height: 16px;
	box-sizing: border-box;
}



input[type=text], textarea, select {
	box-shadow: inset -1px 2px 8px -1px rgba(170,170,170,0.7);
	border-color: rgba(170,170,170,0.7);
}

.form-error {
	input[type=text],
	textarea {
		box-shadow: 0 0px 2px rgba(255,0,0,0.5), inset -1px 2px 8px -1px rgba(170,170,170,0.7);
	}
}

.form-valid.form-indicator-positive {
	input[type=text],
	textarea {
		box-shadow: 0 0px 2px rgba(0,255,0,0.5), inset -1px 2px 8px -1px rgba(170,170,170,0.7);
	}
}

input[type=checkbox] {
	height: 15px;
	width: 15px;
	top: 5px;
}

input[type=text] {
	height: 40px;
	border-radius: 5px;
	font-size: 15px;
	line-height: 20px;
	padding: 10px 12px;
}

select {
	height: 38px;
	border-radius: 5px;
}

fieldset {
	@media (min-width: (@width-label-left-min + 60px)) {
		padding-right: 20px;
	}
}

.submit {
	border-radius: 5px;

	&:hover, &:focus {
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.3) 75%, rgba(255,255,255,0.4) 100%);
	}
}

.submit-sign-container {
	text-align: center;
}

button.submit-sign {
	font-size: 22px;
	font-weight: bold;
	height: 60px;
	display: inline-block;

	@media (min-width: 930px) {
		min-width: 300px;
		width: auto;
	}

	span {
		z-index: 22; /* font resize start */
	}
}

.select-wrap, textarea {
	border-radius: 5px;
}

.form-row {
	margin-bottom: 10px;
}

span.checkbox {
	width: 19px;
	height: 19px;
	border-radius: 15px;
}

.sign-form {
	.group.first {
		clear: left;
	}
	.group.title,
	.group.firstname,
	.group.city,
	.group.post_code {
		width: 100%;
	}
	.country {
		margin-top: 5px;
	}

	.subscribe, .privacy  {
		input {
			top: 5px;
			left: 4px;
		}

		label {
			padding-left: 25px;
		}
	}
}

.widget-left {
	.head {
		.action-title, .subtitle {
			display: none;
		}
	}

	.form-title {
		display: block;
		font-weight: 900;
	}
}

.widget-right {
	.privacy-no-check {
		label {
			color: var(--button-color);
		}

		.short-text {
			display: block;
		}
		.long-text {
			display: none;
		}
	}

	.form-title {
		display: none;
	}
}

.form-indicator {
	&::after {
		bottom: 3px;
		right: 6px;
		font-size: 20px;
	}

	&.form-indicator-select {
		&::after {
			bottom: 5px;
		}
	}
}

.embed-this-left textarea {
	height: 40px;
}

.subscribe, .privacy {
	label {
		width: 100%;
		
		padding: 0;
		font-weight: normal;
	}
}

@media (min-width: @width-label-left-min) {
	.form-row {
		label {
			width: 30%;
			box-sizing: border-box;
			padding: 12px 10px 0 0;
			max-height: none;

			text-align: right;
			float: left;
			text-transform: none;
		}

		input[type=text], textarea, .select-wrap {
			width: 70%;
			float: left;
		}

		.select-wrap:first-child {
			margin-left: 30%;
		}
	}

	.subscribe, .privacy {
		label {
			width: 100%;
			padding: 0;
			text-align: left;
		}
	}
}

.widget-body {
	position: relative;

	@media (min-width: @width-two-column-min) {
		&::before {
			content: ' ';
			display: block;
			width: 1px;
			background: rgba(127,127,127,0.5);
			position: absolute;
			top: 20px;
			bottom: 20px;
			right: 40%;
		}
	}
}

.thankyou {
	margin-bottom: 30px;
}

.has_sign {

	.thankyou,
	.last-signings,
	.share,
	.donate,
	.reload{
		text-align: center;
	}

	.share {
		width: 100%;

		a {
			float: none;
			display: inline-block;
		}
	}

	.widget-right.show-thankyou .share {
		display: inline-block;
		margin: 10px 0 30px 0;

		.sicon {
			width: 50px;
			height: 50px;

			img {
				width: 50px;
				height: 50px;
			}
		}

		.mailto, .a-embed-this {
			background-color: var(--button-color);
		}
	}

	.widget-body::before {
		display: none;
	}

	.donate {
		fieldset {
			max-width: 400px;
			display: inline-block;
		}

		button {
			padding: 0 10px;
			width: auto;
			display: inline-block;
			min-width: 180px;
		}
	}


}

@media (min-width: @width-two-column-min) {
	.content-left {
		padding-right: 30px;
	}

	.content-right {
		padding-left: 30px;
	}
}
