@import "sleek.less";

@sleek-input-radius: 10px;

.openECI-movement {
	display: block;
	margin-bottom: 20px;

	.form-text {
		font-size: 18px;
		font-weight: 700;
	}
}

@media (max-width: @width-one-column-max) {
	/* one column only */

	#petition_text, #readmore, #down-button {
		display: none;
	}

	#content-right {
		padding-top: 0;
	}

	.sign .readmore-btn {
		display: none;
	}

	@media (min-width: 380px) {
		.sign-form fieldset {
			margin-right: 5%;
		}

		.openECI-movement .form-text {
			margin-right: -5%;
		}
	}

	@media (min-width: 430px) {
		.sign-form fieldset {
			margin-right: 15%;
		}

		.openECI-movement .form-text {
			margin-right: -15%;
		}
	}

	.share {
		.share-icons {
			text-align: center;
			word-spacing: -1ch;
		}

		.sicon {
			float: none;
			display: inline-block;
		}
	}
}

a {
	color: var(--sign-button-color);
}

.submit {
	border-radius: 30px;
	background-image: none;
	color: var(--background-color);
}

input[type=text], textarea, select {
	box-shadow: none;
}

.form-error {
	input[type=text],
	textarea {
		box-shadow: none;
	}
}

.form-valid.form-indicator-positive {
	input[type=text],
	textarea {
		box-shadow: none;
	}
}

.count .count-bar {
	background: var(--sign-button-color-darker);
}

.count .count-bar div {
	background: var(--sign-button-color);
}

label {
	font-size: 15px;
}

.go-to-eci-form {
	font-size: 15px;
	font-weight: 700;

	a {
		text-decoration: none;
		&::before {
			content: "> ";
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.count .count-text {
	font-size: 18px;
}

.subscribe label, .privacy label {
	font-weight: bold;
	line-height: 20px;
}

.header {
	h1 {
		font-size: 36px;
		line-height: 42px;

		@media (max-width: @width-one-column-max) {
			font-size: 36px;
			line-height: 42px;
		}
	}
}
