.orig
.orig*
.chg.*
.rej
.DS_Store
.git/
log/
cache/
deploy/
nbproject/
.vscode/
plugins/amgSentryPlugin/
plugins/.*
web/images/
web/uploads/
web/google*html
web/*_dev.php
web/*_stress.php
data/
config/app.yml
config/databases.yml
config/properties.ini
config/factories.yml
config/settings.yml
apps/widget/i18n/
apps/widget/i18n

lib/vendor/

node_modules/

bower_components/

web/css/dist/
web/js/dist/
web/js/static/*.js

docker-compose.*

docker/

build-assets
LICENSE
.editorconfig
.gitignore
.gitlab/
.gitlab-ci.yml
.vscode/
test/
Dockerfile

init