.orig
.orig*
.chg.*
.rej
log/*
cache/*
/deploy/*
/nbproject/*
/plugins/*
/web/images/keyvisual/*
/web/images/pledge_header_visual/*
/web/images/pledge_key_visual/*
/web/images/store/*
/web/uploads/*
/web/google*html
/data/*.lck
/config/app.yml
/config/databases.yml
/config/properties.ini
/config/factories.yml
/data/csv_uploads/*

/data/csv_downloads/*
/lib/vendor/*

/web/images/ttipceta/*
/node_modules/

/bower_components/*

/web/css/dist/*
/web/js/dist/*
/web/js/static/*.js

/deploy*.sh
/run*
