\.orig$
\.orig\..*$
\.chg\..*$
\.rej$
\.conflict\~$
^log/*$
^cache/*$
^lib/vendor/htmlpurifier/standalone/HTMLPurifier/DefinitionCache/Serializer/HTML/.*\.ser$
^lib/vendor/htmlpurifier/standalone/HTMLPurifier/DefinitionCache/Serializer/URI/.*\.ser$
^deploy*
^nbproject/*
^plugins/\..+
^web/images/keyvisual/*
^web/images/pledge_header_visual/*
^web/images/pledge_key_visual/*
^web/images/store/*
^web/uploads/*
^web/google.*html$
^data/.*\.lck
^config/app.yml$
^config/databases.yml$
^config/properties.ini$
^config/factories.yml$
^yuicompressor-.*jar$
^data/csv_uploads.*
^data/csv_downloads.*

^lib/vendor/bin/.*
^lib/vendor/composer/.*
^lib/vendor/lexpress/.*
^lib/vendor/swiftmailer/.*
^lib/vendor/ircmaxell/.*
^lib/vendor/autoload.php

^web/images/ttipceta/*
^node_modules/
^web/(js|css)/.*\.map$
^web/(js|css)/.*opt\.(js|css)$