a {
	color: #0033DD;
}

a[href="#VALIDATION-URL#"],
a[href="#PLEDGE-URL#"],
a[href^="http://POLICAT-HOST/validate/"],
a[href^="http://POLICAT-HOST/user_validation/"],
a[href^="http://POLICAT-HOST/pledge/"],
a[href^="http://POLICAT-HOST/widgetval/"],
a[href^="http://POLICAT-HOST/register"],
a[href^="http://POLICAT-HOST/invitation"],
a[href^="http://POLICAT-HOST/forgotten/"],
a[href^="http://POLICAT-HOST/widget/edit/"],
a[href^="http://POLICAT-HOST/dashboard"]
{
	font-size: 14px;
	padding: 0;
	display: inline-block;
	color: #111;
	text-decoration: none;
	text-align: center;

	background-color: #b7d9f9;
	border-top: 10px solid #b7d9f9;
	border-bottom: 10px solid #b7d9f9;
	border-right: 16px solid #b7d9f9;
	border-left: 16px solid #b7d9f9;

	border-radius: 4px;
}

body {
	background: #eee;
	color: #111;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.6em;

	outline: 0;
	padding: 0;
	margin: 0 10px;
}

.spacer10 {
	display: block;
	padding: 0;
	margin: 0;
	height: 10px;
}

.main-out {
	background: #fff;
	margin: 0 auto;
	width: 600px;
	max-width: 100%;
	padding: 0;
	border-radius: 4px;
}

.main-in {
	margin: 0 10px;
	padding: 0;
}

.main-start {
	display: block;
	padding: 0;
	margin: 0;
	height: 1px;
}

img {
	max-width: 100%;

	border:0 none;
	height:auto;
	line-height:100%;
	outline:none;
	text-decoration:none;
}

a img{
	border:0 none;
}

table, td{
	border-collapse:collapse;
}

p {
	margin: 1em 0;
}

h2, h3, h4, h5, h6 {
	margin: 1em 0;
}

h1 {
	margin: 0.5em 0 1em 0;
	font-size: 24px;
	font-weight: normal;
}

h2 {
	font-size: 22px;
	font-weight: normal;
}

h3 {
	font-size: 20px;
	font-weight: normal;
}

h4, h5 {
	font-size: 18px;
	font-weight: normal;
}

h4 {
	font-weight: bold;
}

h6 {
	font-size: 14px;
	font-weight: bold;
}

blockquote {
	margin: 1em;
	padding: 0 0 0 10px;
	border-left: 2px solid #111;
}

pre {
	white-space: pre-wrap;
}

.align-left {
	display: block;
	text-align: left;
}

.align-right {
	display: block;
	text-align: right;
}

.align-justify {
	display: block;
	text-align: justify;
}

.image-left img {
	float: left;
	margin-right: 10px;
}

.image-right img {
	float: right;
	margin-left: 10px;
}

.image-center img {
	display: block;
	margin: 0 auto;
}

.footer {
	display: block;
	font-size: 0.8em;
	line-height: 1.5em;

	background: #ccc;

	margin: 10px -10px;
	padding: 10px;
}

.footer:last-child {
	margin-bottom: 0;
}

.frame {
	margin: 10px 0;
	padding: 10px;

	border: 1px solid #eee;
	box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);
}
