footer.footer {
  a {
    margin-right: 5px;
  }
}

.collapsed + .navbar-brand.navbar-brand-img {
  max-height: 50px;
}

.navbar-brand.navbar-brand-img {
  padding: 0;
  margin: -8px 0 0 -16px;
  height: 48px;
}


@media (min-width: 992px) {
  .navbar-toggleable-md.navbar-toggleable-md-strech {
      align-items: stretch;
  }
}

.show-before-chosen-init {
	display: block !important;
}

a {
  &.btn-primary,
  &.btn-secondary,
  &.btn-success,
  &.btn-danger,
  &.btn-info,
  &.btn-dark
  {
    color: #fff !important;
  }
}

td > a.btn {
  margin: 0 5px 3px 0;
}

.markItUp, .markItUp * {
  box-sizing: content-box;
}
.markItUpEditor {
  font-size: 14px;
}

.pagination {
  padding-bottom: 10px;
}

ul.checkbox_list {
  list-style-type: none;
  padding: 0;
}

select.form-control {
  + .chosen-container {
    width: 100% !important;

    .chosen-single {
      height: 40px;
      background: #fff;
      border-radius: .2rem;
      border-color: #ced4da;

      span {
        height: 40px;
        line-height: 38px;
        font-size: 1rem;
      }

      div b {
        background-position: 0 10px;
      }

      abbr {
        top: 14px;
      }
    }

    .chosen-results li.highlighted {
      background: #007bff;
    }
  }

  &.form-control-sm {
    + .chosen-container {
      .chosen-single {
        height: 30px;

        span {
          height: 29px;
          line-height: 30px;
          font-size: .875rem;
        }

        div b {
          background-position: 0 5px;
        }
      }
    }
  }
}

.form-control {
  &.select2-container-multi {
    .select2-choices  {
      background: #fff;

      .select2-search-choice {
        background: #fff;
        line-height: 20px;
      }
    }
  }

  .select2-search-choice-close {
    top: 6px;
  }

  &.select2-container {
    width: 100% !important;

    .select2-choice {
      background: #fff;
      height: 40px;
      line-height: 40px;

      .select2-arrow {
        background: #fff;
        border-left: none;

        b {
          background-position: 0 7px;
        }
      }
    }
  }

  &.select2-dropdown-open.select2-drop-above .select2-choice {
    background: #ddd;
  }
}

.nav-link.is-invalid {
  color: #dc3545;

  &.active {
    color: #fff;
    background-color: #dc3545;
  }
}

.filter_form {
  input[type=date] {
    width: 110px;
    padding-left: 2px;
    padding-right: 1px;
    vertical-align: top;
  }
  input[type=date]::-webkit-inner-spin-button {
    display: none;
  }
  input[type=date]::-webkit-clear-button {
    display: none;
  }

  input[type=number] {
    width: 110px;
    vertical-align: top;
  }
}

.filter_order {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none !important;
  color: black;
  margin: 0 1px;
}
.filter_order:hover {
  color: #007bff  !important;
}
.filter_order.active {
  font-weight: bold;
  color: #007bff !important;
  font-size: 120%;
}