footer.footer {
  a {
    margin-right: 5px;
  }
}

.collapsed + .navbar-brand.navbar-brand-img {
  max-height: 50px;
}

.navbar-brand.navbar-brand-img {
  padding: 0;
  margin: -8px 0 0 -16px;
  height: 48px;
}


@media (min-width: 992px) {
  .navbar-toggleable-md.navbar-toggleable-md-strech {
      align-items: stretch;
  }
}

.show-before-chosen-init {
	display: block !important;
}

a {
  &.btn-primary,
  &.btn-secondary,
  &.btn-success,
  &.btn-danger,
  &.btn-info,
  &.btn-dark
  {
    color: #fff !important;
  }
}

td > a.btn {
  margin: 0 5px 3px 0;
}

.markItUp, .markItUp * {
  box-sizing: content-box;
}
.markItUpEditor {
  font-size: 14px;
}

.pagination {
  padding-bottom: 10px;
}

ul.checkbox_list {
  list-style-type: none;
  padding: 0;
}

select.form-control + .chosen-container {
  width: 100% !important;
}

.nav-link.is-invalid {
  color: #dc3545;

  &.active {
    color: #fff;
    background-color: #dc3545;
  }
}