@color-white: #ffffff;
@color-error: #ed1b24;

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, q, dl, dt, dd, ol, ul, li, form, label, input, textarea  {
	border: 0;
	font-family: "Lucida Sans Unicode", Vardana, Arial;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	font-size: 75%;
	line-height: 1.5;
}
a {
	cursor: pointer;
	outline: none;
	text-decoration: underline;
	img {
		border: none;
	}
}
h1 {
	font-size: 18px;
	font-weight: normal;
	line-height: 1.45em;
	margin-bottom: 0.5em;
	&:hover+div#embed_this_help_head {
		display: block;
	}
}
h1#pet_title {
	font-size: 33px;
	font-weight: bold;
}
h2 {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.25em;
	margin-bottom: 0.2em;
}
h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}
h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}
h5 {
	font-size: 1em;
	margin-bottom: 1.5em;
}
h6 {
	font-size: 1em;
}
p {
	line-height: 15px;
	margin: 0 0 1.5em;
}
ul, ol  {
	margin: 0 1.5em 1.5em 1.5em;
}
ul {
	list-style-type: circle;
}
ol {
	list-style-type: decimal;
}
dl {
	margin: 0 0 1.5em 0;
	dt {
		font-weight: bold;
	}
	dd {
		margin-left: 1.5em;
	}
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
html, body  {
	background: transparent;
	height: 100%;
	margin: 0;
	padding: 0;
}
.original {
	display: none;
}
table td, table th  {
	border: 1px solid silver;
	margin: 0;
	padding: 5px;
}
table tfoot td, table tfoot th, table thead td, table thead th  {
	background: silver;
	border: 1px solid #ddd;
}
div#policat_modal_window {
	padding: 0;
}
form {
	span.help {
		font-size: 0.8em;
	}
	div {
		margin-bottom: 3px;
	}
}
input[type=text], textarea, select  {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #bbb;
	border-color: #bbb #bbb #ddd #ddd;
	box-sizing: border-box;
	font-size: 13px;
	margin: 3px;
	overflow: hidden;
	padding: 1px 0 1px 3px;
	width: 100%;
}
input[type=text], select  {
	height: 22px;
}
div.div_select {
	border: 0;
	margin: 0;
	padding: 0;
}
.form_error input[type=text], .form_error textarea, div.form_error.div_select  {
	border: 3px solid @color-error;
}
div.form_error.div_select select, div.form_error.div_select input  {
	border: 0;
	margin: 0;
}
div.form_error.div_select {
	input {
		height: 20px;
	}
}
.form_error label, label.form_error  {
	color: @color-error;
}
div.error {
	p {
		color: #de353a;
		margin-top: 4px;
	}
}
#policat_widget {
	clear: left;
	margin: 0;
	max-width: 1000px;
	overflow: hidden;
	position: relative;
}
#policat_widget_left {
	float: left;
	overflow: hidden;
	position: relative;
	width: 60%;
	textarea {
		overflow: auto;
	}
}
#content_left {
	margin: 0;
	padding: 20px 20px 10px 20px;
	a.back {
		margin: 0 0 0 20px;
	}
}
.pet_subtitle {
	img {
		max-height: 80px;
	}
}
.email_action>div {
	float: left;
	margin-bottom: 6px;
	width: 303px;
}
#privacy_policy {
	padding-bottom: 40px;
}
#privacy_policy_text {
	min-height: 300px;
}
#embed_this_left {
	min-height: 340px;
}
#policat_widget_left textarea, #policat_widget_left input[type="text"] {
	width: 100%;
}
#petition {
	img {
		max-width: 100%;
	}
}
#petition_tabs {
	margin: 10px -10px 0 -10px;

	.tab_head {
		font-size: 12px;
		line-height: 16px;
		margin: 0;
		overflow: hidden;
	}

	.tab {
		cursor: pointer;
		float: left;
		height: 36px;
		line-height: 36px;
		overflow: hidden;
		text-align: center;
		text-align: center;
		width: 50%;
	}
	.tab-mid {
		border-bottom-width: 18px !important;
		border-top-color: transparent !important;
		border-top-width: 18px !important;
		float: left;
		height: 0px;
		margin: 0;
		width: 0px;
	}
	.left {
		border-radius: 3px 0 0 0;
		margin-right: -13px;
		span {
			display: block;
			height: 36px;
			margin-right: 13px;
		}
	}
	.right {
		border-radius: 0 3px 0 0;
		margin-left: -13px;
		span {
			display: block;
			height: 36px;
			margin-left: 13px;
		}
	}
	.back {
		display: none;
	}
	.button_btn {
		display: inline-block;
		float: none;
		margin-top: -4px;
		min-width: 50%;
		padding: 3px 8px;
	}

	.left_tab, .right_tab  {
		padding: 20px 10px 10px 10px;
		display: none;
	}

	&.left {
		.tab-mid {
			border-right-color: transparent;
		}
		.left_tab {
			display: block;
		}
	}
	&.right {
		.tab-mid {
			border-left-color: transparent;
		}
		.right_tab {
			display: block;
		}
	}

	&.left .tab_body {
		border-radius: 0 3px 3px 3px;

		.left_tab {
			border-radius: 0 3px 3px 3px;
		}
	}
	&.right .tab_body {
		border-radius: 3px 0 3px 3px;

		.right_tab {
			border-radius: 0 3px 3px 3px;
		}
	}

	&.calc_tab {
		.tab_body {
			position: relative;
		}
		.left_tab, .right_tab {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			display: block;
		}

		&.left {
			.left_tab {
				z-index: 1;
			}
		}
		&.right {
			.left_tab {
				z-index: 2;
			}
		}
	}

	&.no_tabs {
		.tab_head {
			display: none;
		}

		.tab_body {
			height: auto !important;
			background: none;
		}

		.left_tab {
			display: block;
			border-radius: 3px;
		}

		.right_tab {
			display: block;
			padding-top: 10px;

			#background_text {
				p:first-child {
					margin-top: 10px;
				}
			}
		}
	}
}

.small {
	.tab_body {
		height: auto !important;
	}
}

div#count {
	height: 18px;
	margin-bottom: 10px;
	margin-left: 3px;
	overflow: hidden;
	position: relative;
	div {
		height: 18px;
		left: 0;
		position: absolute;
		top: 0;
		width: 0%;
	}
	span {
		left: 0;
		padding: 0 2px;
		position: absolute;
		text-align: right;
		top: 0;
	}
}
div#count_target {
	font-size: 9px;
	height: 10px;
	line-height: 10px;
	margin-left: 3px;
	span {
		display: block;
		float: right;
	}
}
a.back {
	bottom: 10px;
	font-size: 9px;
	left: 0;
	margin: 0;
	position: absolute;
}
.thankyou {
	h2 {
		font-size: 20px;
	}
	div {
		font-size: 14px;
	}
}
#policat_widget_right {
	float: left;
	padding: 0;
	position: relative;
	width: 40%;
	.stage_right {
		position: relative;
		width: 100%;
		.donate {
			.back {
				left: 0;
			}
		}
		.thankyou {
			.back {
				left: 0;
			}
		}
	}
	.stage_right.stage_calc {
		height: auto !important;
		overflow: hidden;
		width: 800%;
	}
	form>div.country {
		height: 27px;
	}
	.form_error {
		span.checkbox {
			border: 3px solid @color-error;
			padding: 0;
		}
	}
	.privacy {
		label {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.input_checkbox {
		width: 19px;
	}
	form>div.checkbox {
		height: auto;
		margin-left: 1px;
		margin-top: 2px;
		width: 190px;
	}
	form>div.comment {
		height: auto;
	}
	a.submit {
		display: block;
	}
}
.right_only {
	#policat_widget_left {
		display: none;
	}
	#policat_widget_right {
		width: 100%;
	}
}
#content_right {
	overflow: hidden;
	padding: 20px 20px 10px 10px;
}
#policat_widget_right .stage_right .sign, #policat_widget_right .stage_right .donate, #policat_widget_right .stage_right .embed_this, #policat_widget_right .stage_right .thankyou, #policat_widget_right .stage_right .reload  {
	display: none;
}
#policat_widget_right.show_sign .stage_right .sign, #policat_widget_right.show_donate .stage_right .donate, #policat_widget_right.show_embed_this .stage_right .embed_this, #policat_widget_right.show_thankyou .stage_right .thankyou, #policat_widget_right.show_sign .stage_right .share, #policat_widget_right.show_thankyou .stage_right .share, #policat_widget_right.show_thankyou .stage_right .donate, #policat_widget_right.show_thankyou .stage_right .reload  {
	display: block;
}
#policat_widget_right.show_thankyou .stage_right .share #a_donate, #policat_widget_right.show_thankyou .stage_right .donate .back  {
	display: none;
}
#policat_widget_right .stage_right.stage_calc .sign, #policat_widget_right .stage_right.stage_calc .donate, #policat_widget_right .stage_right.stage_calc .embed_this, #policat_widget_right .stage_right.stage_calc .thankyou  {
	display: block !important;
	float: left;
	margin: 0 12.5% 0 0;
	width: 12.5%;
}
#policat_widget_right.show_sign {
	.stage_right.stage_calc {
		margin-left: 0;
	}
}
#policat_widget_right.show_donate {
	.stage_right.stage_calc {
		margin-left: -200%;
	}
}
#policat_widget_right.show_embed_this {
	.stage_right.stage_calc {
		margin-left: -400%;
	}
}
#policat_widget_right.show_thankyou {
	.stage_right.stage_calc {
		margin-left: -600%;
	}
}
#policat_widget_right .thankyou, #policat_widget_right .donate  {
	padding-bottom: 0;
}
#policat_widget_right .embed_this,
#policat_widget_right .donate
{
	padding-bottom: 30px;
}

#policat_widget_right.show_thankyou .donate {
	padding-bottom: 0;
}

label {
	display: block;
	font-size: 9px;
	line-height: 14px;
	margin-bottom: -2px;
	margin-left: 3px;
	max-height: 14px;
	overflow: hidden;
	text-transform: uppercase;
}
#policat_widget_right form .subscribe, #policat_widget_right form .privacy  {
	clear: left;
	margin-bottom: 10px;
	position: relative;
}
#policat_widget_right .subscribe input, #policat_widget_right .privacy input  {
	left: 3px;
	margin: 0 !important;
	position: absolute;
	top: 3px;
}
#policat_widget_right .subscribe span.checkbox, #policat_widget_right .privacy span.checkbox  {
	border: 0;
	left: 0;
	padding: 3px;
	position: absolute;
	top: 0;
}
#policat_widget_right .subscribe span.checkbox input, #policat_widget_right .privacy span.checkbox input  {
	left: auto;
	position: static;
	top: auto;
}
#policat_widget_right .subscribe label, #policat_widget_right .privacy label  {
	margin-top: 3px;
	max-height: none;
	padding-left: 20px;
	text-transform: none;
}
div.checkbox label, div.checkbox input[type=checkbox] {
	display: block;
	float: left;
}
div.checkbox {
	label {
		text-transform: none;
	}
}
.submit {
	border: 0;
	padding: 0;
	border-radius: 10px;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.3) 100%);
	border-radius: 10px;
	color: @color-white;
	cursor: pointer;
	height: 50px;
	margin-left: 3px;
	margin-top: 4px;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	width: 180px;

	&:hover {
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 75%, rgba(0,0,0,0.4) 100%);
	}
}

button.submit {
	display: block;
	margin: 0 auto;
}
button.submit_sign {
	font-size: 32px;
	height: 50px;
	border: 0;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.submit.button_small {
	font-size: 13px;
	height: 25px;
	line-height: 25px;
	margin-bottom: 8px;
	margin-top: 8px;
	border-radius: 5px;
}

#kv_ot {
	clear: left;
	float: none !important;
	margin: 5px 0;
	overflow: hidden;
	img {
		max-height: 50%;
		max-width: 100%;
	}
}
#kv_ot.kv_bottom {
	clear: left;
	margin: 0 0 10px 0;
	text-align: center;
	img {
		margin-bottom: 1px;
		max-height: 70%;
	}
}
input[type=checkbox]+p {
	font-size: 11px;
	line-height: 14px;
}
#sign {
	.group {
		float: left;
		margin: 0 0 3px 0;
	}
	.group.first {
		clear: left;
	}
	.group.title {
		margin: 0 2% 3px 0;
		width: 42%;
	}
	.group.firstname {
		width: 56%;
	}
	.group.city {
		margin: 0 2% 3px 0;
		width: 60%;
	}
	.group.post_code {
		width: 38%;
	}
}
#sign .lastname, #sign .fullname, #sign .email, #sign .address, #sign .extra1  {
	clear: left;
}
#sign .country, #sign .comment  {
	clear: left;
}
#embed {
	.group {
		float: left;
		margin: 0 0 3px 0;
		width: 49%;
	}
	.group.first {
		clear: left;
		margin: 0 2% 3px 0;
	}
	.checkbox {
		clear: left;
		float: left;
	}
	#h_widget_reg {
		clear: left;
	}
}
#embed_this_left textarea, #embed_this_left input  {
	height: 22px;
	line-height: 14px;
	padding: 4px;
}
#widget_petition_text_id_copy {
	margin-left: 0;
}
div#embed_this_help_type, div#embed_this_help_width  {
	background-color: gray;
	color: white;
	display: none;
	left: 0;
	overflow: hidden;
	padding: 10px;
	position: absolute;
	right: -3px;
	top: 70px;
}
label:hover+div#embed_this_help_type, label:hover+div#embed_this_help_width  {
	display: block;
}
div#embed_this_help_head {
	background-color: gray;
	color: white;
	display: none;
	left: 20px;
	padding: 10px;
	position: absolute;
	right: 17px;
	top: 70px;
}
#target_selector {
	*zoom: 1;
	&:after {
		clear: both;
	}
	div.ts {
		float: left;
		width: 49%;
	}
	div.ts_first {
		margin-right: 2%;
	}
	div.div_select {
		position: relative;
		div.correct {
			background: @color-white;
			margin: 0;
			padding: 0;
			position: absolute;
			right: 1px;
			top: 5px;
		}
	}
	select {
		margin-right: 0;
	}
	div.form_error {
		div.correct {
			top: 1px;
		}
	}
}
#target_selector:before, #target_selector:after  {
	content: " ";
	display: table;
}
#target_selector.single {
	div.ts {
		width: 99%;
	}
}
#scroll_pledges {
	height: 200px;
}
#scroll_pledges.error {
	border: 3px solid red;
	margin: -3px 0 -3px -3px;
}
#pledges {
	list-style-type: none;
	margin: 0;
	i.pledge_color {
		background-color: transparent;
		background-image: url(/images/pledge.spr.png);
		background-repeat: no-repeat;
		display: inline-block;
		height: 18px;
		width: 18px;
	}
	i.pledge_color_0 {
		background-position: -38px 0;
	}
	i.pledge_color_1 {
		background-position: -38px -20px;
	}
	i.pledge_color_2 {
		background-position: -38px -40px;
	}
	i.pledge_color_3 {
		background-position: -38px -60px;
	}
	i.pledge_color_4 {
		background-position: -38px -80px;
	}
	i.pledge_color_5 {
		background-position: -38px -100px;
	}
	i.pledge_color_6 {
		background-position: -38px -120px;
	}
	i.pledge_color_7 {
		background-position: -38px -140px;
	}
	i.pledge_color_8 {
		background-position: -38px -160px;
	}
	i.pledge_color_9 {
		background-position: -38px -180px;
	}
	i.pledge_done {
		background-position: 0 -200px;
		display: none;
		margin: 0 -3px 0 -2px;
		vertical-align: text-bottom;
	}
	.pledge_status_1 {
		i.pledge_color_0 {
			background-position: 0 0;
		}
		i.pledge_color_1 {
			background-position: 0 -20px;
		}
		i.pledge_color_2 {
			background-position: 0 -40px;
		}
		i.pledge_color_3 {
			background-position: 0 -60px;
		}
		i.pledge_color_4 {
			background-position: 0 -80px;
		}
		i.pledge_color_5 {
			background-position: 0 -100px;
		}
		i.pledge_color_6 {
			background-position: 0 -120px;
		}
		i.pledge_color_7 {
			background-position: 0 -140px;
		}
		i.pledge_color_8 {
			background-position: 0 -160px;
		}
		i.pledge_color_9 {
			background-position: 0 -180px;
		}
	}
	.pledge_status_2 {
		i.pledge_color_0 {
			background-position: -19px 0;
		}
		i.pledge_color_1 {
			background-position: -19px -20px;
		}
		i.pledge_color_2 {
			background-position: -19px -40px;
		}
		i.pledge_color_3 {
			background-position: -19px -60px;
		}
		i.pledge_color_4 {
			background-position: -19px -80px;
		}
		i.pledge_color_5 {
			background-position: -19px -100px;
		}
		i.pledge_color_6 {
			background-position: -19px -120px;
		}
		i.pledge_color_7 {
			background-position: -19px -140px;
		}
		i.pledge_color_8 {
			background-position: -19px -160px;
		}
		i.pledge_color_9 {
			background-position: -19px -180px;
		}
	}
	a.pledge_color_0 {
		border-color: #bd1622;
	}
	a.pledge_color_1 {
		border-color: #f0602f;
	}
	a.pledge_color_2 {
		border-color: #ffa10f;
	}
	a.pledge_color_3 {
		border-color: #ffcd03;
	}
	a.pledge_color_4 {
		border-color: #94ba1e;
	}
	a.pledge_color_5 {
		border-color: #009537;
	}
	a.pledge_color_6 {
		border-color: #007f86;
	}
	a.pledge_color_7 {
		border-color: #005cab;
	}
	a.pledge_color_8 {
		border-color: #8134c2;
	}
	a.pledge_color_9 {
		border-color: #9e3c81;
	}
	li.pledge_contact {
		margin: 0 0 8px 3px;
	}
	input {
		display: inline-block;
	}
	label {
		display: inline;
		font-size: 12px;
		font-weight: bold;
		line-height: 15px;
		max-height: 15px;
		text-transform: none;
		span {
			font-weight: normal;
		}
	}
	.pledge_icons {
		display: block;
		margin: 0 0 0 20px;
		a.pledge_item {
			border-left: 0 !important;
			border-right: 0 !important;
			border-top: 0 !important;
			display: inline-block;
			padding-bottom: 2px;
			&:hover {
				border-style: solid;
				border-width: 2px;
				opacity: 0.7;
				padding-bottom: 0;
			}
		}
		a.pledge_item_active {
			border-style: solid;
			border-width: 2px;
			padding-bottom: 0;
		}
	}
	.pledge_text {
		margin: 5px 0 0 20px;
	}
}
.share {
	display: none;
	overflow: hidden;
	margin-right: -10px;

	a {
		display: block;
	}
	.sicon {
		display: block;
		float: left;
		height: 32px;
		margin: 0 5px 10px 0;
		padding: 0;
		width: 32px;
		img {
			border: 0;
			height: 32px;
			width: 32px;
		}
	}
	.facebook {
		background: #3B5998;
	}
	.twitter {
		background: #00ACED;
	}
	.mailto {
		background: #f7d804;
	}
	#a_embed_this {
		background: #aaaaaa;
	}
	.donate_btn {
		background: #D14836;
	}
}
.button_color {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	color: @color-white;
	&:hover {
		background-image: linear-gradient(to bottom, rgba(200, 200, 200, 0.2), rgba(100, 100, 100, 0.3));
		color: #f9f9f9;
	}
}
.button_btn {
	border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 15px;
	line-height: 15px;
	margin: 0;
	padding: 0 5px;
	text-decoration: none;
}
.wkScroll {
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	padding-right: 5px;
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		background: @color-white;
	}
	&::-webkit-scrollbar-thumb {
		background: #bbbfc0;
	}
}
.wkScroll_iPhone {
	overflow-y: scroll;
}

#down_button {
	display: none;
	margin-bottom: 10px;
	padding: 3px 8px;
}
.small {
	#down_button {
		display: inline-block;
	}
	#down_button.hide {
		display: none;
	}
	#policat_widget_left, #policat_widget_right  {
		float: none;
		min-width: 260px;
		width: 100%;
	}
}

#policat_widget_loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
