all:
  facebook:
    appId: # INSERT HERE # 
    secret: # INSERT HERE #
    domain: # INSERT HERE #
    form_hash: '# INSERT RANDOM SECRET HERE #'

  hashes:
    petition_signing: '# INSERT RANDOM SECRET HERE       #'
    petition_text:    '# INSERT RANDOM OTHER SECRET HERE #'
    widget:           '# INSERT RANDOM OTHER SECRET HERE #'

  frontend_csrf_secret: '# INSERT RANDOM OTHER SECRET HERE #'

  recaptcha:
    secret: # INSERT HERE #
    public: # INSERT HERE #

  web:
    url: http://INSERT.HERE/

  spf:
    cmd: spfquery
    ip: # INSERT IP OF YOUR MAILSERVER #

#  mail:
#    tracking:
#      header:
#        id: X-MJ-CUSTOMID                       # optional, but important
#        campaign: X-MAILJET-CAMPAIGN            # optional, but important
#        campaign_prefix: testing                # optional
#    api:
#      token: # INSERT HERE #                    # required  -> https://token:#TOKEN#@policat.org/api/v2/incomming/bounce
#      bounce:
#        log_file: 'bounce.log'                  # optional
#        grouping: true                          # optional, allow multiple events as array
#        match:                                  # optional
#          event: bounce
#        id: CustomID                            # required
#        campaign: customcampaign                # required
#        campaign_prefix: testing                # optional
#        email: email                            # optional
#        blocked: blocked                        # optional, but important
#        hard_bounce: hard_bounce                # optional, but important
#        error_related_to: error_related_to      # optional
#        error: error                            # optional
#      blocked:  # is always tracked as blocked = true, hard_bounce = false
#        log_file: 'blocked.log'                  # optional
#        grouping: true                          # optional, allow multiple events as array
#        match:                                  # optional
#          event: blocked
#        id: CustomID                            # required
#        campaign: customcampaign                # required
#        campaign_prefix: testing                # optional
#        email: email                            # optional
#        error_related_to: error_related_to      # optional
#        error: error                            # optional

#prod:
#  amg_sentry:
#    enabled: true
#    dsn: 'http://...'
##    logger: 'custom-logger-name'
#    reportPHPErrors: true
#    reportPHPWarnings: false
#    report404: false
